.about_intro {
  padding-bottom: 3em !important;
  .v-image {
    padding-bottom: 1em;
  }
  .v-list-item__content {
    justify-content: center;
    div {
      text-align: center;
      @include fontFamilyBase();
      font-size: 16px;
      span {
        font-weight: bold;
        color: $text-color-primary;
      }
      small {
        color:$text-color;
      }
    }
  }
}
.about_text {
  .v-list-item__content {
    margin-bottom: .5em;
  }
}
.about_text, .about_spec {
  color:$almostblack;
  @include fontFamilyBase();
  .v-list-item__content {
    padding: 0 .5em;

    div {
      margin-bottom: .5em;
    }
  }
  line-height: 110%;
  .v-list-item__content > * {
    line-height: 140%;
  }
}
.marks {
  font-weight: 900;
  font-size: 18px !important;
  .v-list-item__title {
    font-size: 18px !important;
  }
  .v-avatar {
    border-radius: 0px;
    margin-left: .5em;
  }
  svg {
    .pathfill {
      fill: $text-color;
    }
    .rectstroke {
      stroke: $text-color;
    }
  }
}
.about_place {
  svg {
    .pathfill {
      fill: $text-color;
    }
    .rectstroke {
      stroke: $text-color;
    }
  }
  .v-avatar {
    border-radius: 0px;
    margin-left: .5em;
  }
  .about_title {
    font-size: 18px !important;
    font-weight: 900;
    @include fontFamilyBase();
    color: $text-color-primary;
  }
  .about_text {
    @include fontFamilyBase();
    font-size: 12px;
    color:$almostblack;
  }
}
.about_text, .about_spec , .marks, .about_place {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  font-size: 16px;
}
