@charset "UTF-8";
/*'Roboto', sans-serif;*/
.chkeditor__content {
  /*!
   * ress.css • v2.0.4
   * MIT License
   * github.com/filipelinhares/ress
   */
  /* # =================================================================
     # Global selectors
     # ================================================================= */
  /* # =================================================================
     # General elements
     # ================================================================= */
  /* https://gist.github.com/unruthless/413930 */
  /* # =================================================================
     # Forms
     # ================================================================= */
  /* Replace pointer cursor in disabled elements */
  /* Apply cursor pointer to button elements */
  /* Remove inner padding and border in Firefox 4+ */
  /* Replace focus style removed in the border reset above */
  /* Remove the default button styling in all browsers */
  /* Style select like a standard input */
  /* # =================================================================
     # Specify media element style
     # ================================================================= */
  /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
  /* # =================================================================
     # Accessibility
     # ================================================================= */
  /* Hide content from screens but not screenreaders */
  /* Specify the progress cursor of updating elements */
  /* Specify the pointer cursor of trigger elements */
  /* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
  font-size: 16px;
  font-family: "Nunito", sans-serif !important;
  line-height: 1.5;
  font-family: "Nunito", sans-serif !important;
  font-size: 16px; }
  .chkeditor__content html {
    box-sizing: border-box;
    overflow-y: scroll;
    /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%;
    /* Prevent adjustments of font size after orientation changes in iOS */
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4; }
  .chkeditor__content *,
  .chkeditor__content ::before,
  .chkeditor__content ::after {
    background-repeat: no-repeat;
    /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit; }
  .chkeditor__content ::before,
  .chkeditor__content ::after {
    text-decoration: inherit;
    /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit; }
  .chkeditor__content * {
    padding: 0;
    /* Reset `padding` and `margin` of all elements */
    margin: 0; }
  .chkeditor__content hr {
    overflow: visible;
    /* Show the overflow in Edge and IE */
    height: 0;
    /* Add the correct box sizing in Firefox */ }
  .chkeditor__content details,
  .chkeditor__content main {
    display: block;
    /* Render the `main` element consistently in IE. */ }
  .chkeditor__content summary {
    display: list-item;
    /* Add the correct display in all browsers */ }
  .chkeditor__content small {
    font-size: 80%;
    /* Set font-size to 80% in `small` elements */ }
  .chkeditor__content [hidden] {
    display: none;
    /* Add the correct display in IE */ }
  .chkeditor__content abbr[title] {
    border-bottom: none;
    /* Remove the bottom border in Chrome 57 */
    /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
    text-decoration: underline;
    text-decoration: underline dotted; }
  .chkeditor__content a {
    background-color: transparent;
    /* Remove the gray background on active links in IE 10 */ }
  .chkeditor__content a:active,
  .chkeditor__content a:hover {
    outline-width: 0;
    /* Remove the outline when hovering in all browsers */ }
  .chkeditor__content code,
  .chkeditor__content kbd,
  .chkeditor__content pre,
  .chkeditor__content samp {
    font-family: monospace, monospace;
    /* Specify the font family of code elements */ }
  .chkeditor__content pre {
    font-size: 1em;
    /* Correct the odd `em` font sizing in all browsers */ }
  .chkeditor__content b,
  .chkeditor__content strong {
    font-weight: bolder;
    /* Add the correct font weight in Chrome, Edge, and Safari */ }
  .chkeditor__content sub,
  .chkeditor__content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .chkeditor__content sub {
    bottom: -0.25em; }
  .chkeditor__content sup {
    top: -0.5em; }
  .chkeditor__content input {
    border-radius: 0; }
  .chkeditor__content [disabled] {
    cursor: default; }
  .chkeditor__content [type="number"]::-webkit-inner-spin-button,
  .chkeditor__content [type="number"]::-webkit-outer-spin-button {
    height: auto;
    /* Correct the cursor style of increment and decrement buttons in Chrome */ }
  .chkeditor__content [type="search"] {
    -webkit-appearance: textfield;
    /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px;
    /* Correct the outline style in Safari */ }
  .chkeditor__content [type="search"]::-webkit-search-cancel-button,
  .chkeditor__content [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    /* Remove the inner padding in Chrome and Safari on macOS */ }
  .chkeditor__content textarea {
    overflow: auto;
    /* Internet Explorer 11+ */
    resize: vertical;
    /* Specify textarea resizability */ }
  .chkeditor__content button,
  .chkeditor__content input,
  .chkeditor__content optgroup,
  .chkeditor__content select,
  .chkeditor__content textarea {
    font: inherit;
    /* Specify font inheritance of form elements */ }
  .chkeditor__content optgroup {
    font-weight: bold;
    /* Restore the font weight unset by the previous rule */ }
  .chkeditor__content button {
    overflow: visible;
    /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }
  .chkeditor__content button,
  .chkeditor__content select {
    text-transform: none;
    /* Firefox 40+, Internet Explorer 11- */ }
  .chkeditor__content button,
  .chkeditor__content [type="button"],
  .chkeditor__content [type="reset"],
  .chkeditor__content [type="submit"],
  .chkeditor__content [role="button"] {
    cursor: pointer;
    color: inherit; }
  .chkeditor__content button::-moz-focus-inner,
  .chkeditor__content [type="button"]::-moz-focus-inner,
  .chkeditor__content [type="reset"]::-moz-focus-inner,
  .chkeditor__content [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  .chkeditor__content button:-moz-focusring,
  .chkeditor__content [type="button"]::-moz-focus-inner,
  .chkeditor__content [type="reset"]::-moz-focus-inner,
  .chkeditor__content [type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText; }
  .chkeditor__content button,
  .chkeditor__content html [type="button"],
  .chkeditor__content [type="reset"],
  .chkeditor__content [type="submit"] {
    -webkit-appearance: button;
    /* Correct the inability to style clickable types in iOS */ }
  .chkeditor__content button,
  .chkeditor__content input,
  .chkeditor__content select,
  .chkeditor__content textarea {
    background-color: transparent;
    border-style: none; }
  .chkeditor__content select {
    -moz-appearance: none;
    /* Firefox 36+ */
    -webkit-appearance: none;
    /* Chrome 41+ */ }
  .chkeditor__content select::-ms-expand {
    display: none;
    /* Internet Explorer 11+ */ }
  .chkeditor__content select::-ms-value {
    color: currentColor;
    /* Internet Explorer 11+ */ }
  .chkeditor__content legend {
    border: 0;
    /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit;
    /* Correct the color inheritance from `fieldset` elements in IE */
    display: table;
    /* Correct the text wrapping in Edge and IE */
    max-width: 100%;
    /* Correct the text wrapping in Edge and IE */
    white-space: normal;
    /* Correct the text wrapping in Edge and IE */
    max-width: 100%;
    /* Correct the text wrapping in Edge 18- and IE */ }
  .chkeditor__content ::-webkit-file-upload-button {
    /* Correct the inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
    color: inherit;
    font: inherit;
    /* Change font properties to `inherit` in Chrome and Safari */ }
  .chkeditor__content img {
    border-style: none;
    /* Remove border when inside `a` element in IE 8/9/10 */ }
  .chkeditor__content progress {
    vertical-align: baseline; }
  @media screen {
    .chkeditor__content [hidden~="screen"] {
      display: inherit; }
    .chkeditor__content [hidden~="screen"]:not(:active):not(:focus):not(:target) {
      position: absolute !important;
      clip: rect(0 0 0 0) !important; } }
  .chkeditor__content [aria-busy="true"] {
    cursor: progress; }
  .chkeditor__content [aria-controls] {
    cursor: pointer; }
  .chkeditor__content [aria-disabled="true"] {
    cursor: default; }
  .chkeditor__content p {
    margin: 1em 0; }
  .chkeditor__content b, .chkeditor__content strong {
    font-weight: bold; }
  .chkeditor__content ol, .chkeditor__content ul {
    margin-bottom: 1em; }
  .chkeditor__content li {
    margin-bottom: .5em;
    margin-left: .5em; }
  .chkeditor__content p {
    margin-top: 0px;
    margin-bottom: 1em; }

/*# sourceMappingURL=ckheditor.css.map */
