@mixin onboardingFixes() {
  .v-application .loginPage .mainLogo, .v-application .signinPage .mainLogo {
    min-width: 20vh !important;
    max-width: 50vh !important;
  }

  .onboarding_page {
    .v-btn__content.fakebtn {
      text-align: center;
      justify-content: center;
    }
  }
  .onboardingForm {
    .confirm_code {
      max-width: 60vw;

      .v-input__control {
        align-items: center;
      }
    }
  }
}

@mixin runnerFixes() {
  .fullPageCard.exerciseRecording {
    .donut_progress {
      &:not(.finished) {
        .action {
          width: 25vw;
          height: 25vw;
          top: calc((100% - 25vw) / 2);
          left: calc((100% - 25vw) / 2);
          & > div {
            font-size: 24px;
          }
        }
      }
    }
  }
  .exercises__container .breath_item {
    width: 25vw;
    height: 25vw;
  }
  .withdynamicTexts {
    width: 100%;
  }
}
@mixin dialogFixes() {
  .v-dialog.logout-dialog {
    .v-card__actions {
      div.text-center {
        max-width: 90%;
        .v-btn.nextvm,.v-btn {
          max-width: 100%;
        }
      }
    }
  }
}

.fillerCard {
  width: 0px;
}

/*Ipad*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  @include onboardingFixes();
  @include runnerFixes();
  @include dialogFixes();
  .fillerCard {
    width: 33vw;
  }
}

/*iPad 3, 4 and Pro 9.7*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  @include onboardingFixes();
  @include runnerFixes();
  @include dialogFixes();
  .fillerCard {
    width: 33vw;
  }
}

/* ----------- iPad Pro 10.5" ----------- */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  @include onboardingFixes();
  @include runnerFixes();
  @include dialogFixes();
  .fillerCard {
    width: 33vw;
  }
}

/* ----------- iPad Pro 12.9" ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  @include onboardingFixes();
  @include runnerFixes();
  @include dialogFixes();
  .fillerCard {
    width: 33vw;
  }
}


.v-btn.nextvm, .v-btn.leavevm, .v-btn.leavevm--text, .v-btn.backvm, .v-btn.backvm--text {

  /*Ipad*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    max-width: calc(100vw - 16px);

  }

  /*iPad 3, 4 and Pro 9.7*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: calc(100vw - 16px);
  }

  /* ----------- iPad Pro 10.5" ----------- */
  @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: calc(100vw - 16px);
  }

  /* ----------- iPad Pro 12.9" ----------- */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: calc(100vw - 16px);
  }
}
.mainApp .pager .spacer {
  /*Ipad*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    max-width: 16px;
    min-width: 16px;

  }

  /*iPad 3, 4 and Pro 9.7*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
  }

  /* ----------- iPad Pro 10.5" ----------- */
  @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
  }

  /* ----------- iPad Pro 12.9" ----------- */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
  }
}
.mainApp .fullPageCard > div.footer .spacer {
  /*Ipad*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    max-width: 16px;
    min-width: 16px;
    flex-shrink: 1;

  }

  /*iPad 3, 4 and Pro 9.7*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
    flex-shrink: 1;
  }

  /* ----------- iPad Pro 10.5" ----------- */
  @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
    flex-shrink: 1;
  }

  /* ----------- iPad Pro 12.9" ----------- */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    max-width: 16px;
    min-width: 16px;
    flex-shrink: 1;
  }
}
