// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "materialdesignicons";

$breakSizeSmallDevice: 760px;
$breakSizeSmallDeviceUp: 761px;
$main-background: #ffffff;
$text-color: #3D3D3D;
$time-option-background: #EDEDED;
$time-option-background_730: #A9F4E6;
$time-option-background_1230: #A9D9F4;
$time-option-background_1630: #AFA9F4;
$time-option-background_2030: #AFA9F4;
$text-color-secondary: #EE6E2D;
$text-color-primary: #EC483F;
$text-color-primary_alpha80: rgba(236, 72, 63,0.8);
$text-percent-color: #EC483F;
$purple-color: #EB3568;
$pink-color: #FBE7F0;
$font-family: 'Nunito', sans-serif;
$font-family-roboto: 'Nunito', sans-serif; /*'Roboto', sans-serif;*/
$white: #FFF;
$black: #000;
$grey-color: #666;
$greyDarken: #515151;
$stdGrey: #ccc;
$dirtyWhite: #F9F9F9;
$dirtyWhiteDarken: #D9D9D9;
$micBckGray: #A4A4A4;
$micBckBar: #EC483F;
$almostblack: #333;
$greyBase: #CCCCCC;
$lightGrey: $pink-color;
$radarBorder: #79A4E1;
$countDownColor: #FF2245;
$breathBorder: $text-color-primary;
$programPrimaryColor: #515570;
$programSecondaryColor: #EC483F;
$programProgressBarBck: #FDFDFD;
$programProgressBar: $programPrimaryColor;
$programProgressDayPicker: $pink-color;
$quizExerciseBck: #F3EDED;
$debugBck: #ececec;
$warning: #FF6207;
$riskIconColor: #797D98;
$calendarDayActiveBckColor: #B6BEF5;
$calendarDayDisabledColor: #C8C9CE;
$error: #DD2C00;
$redAccent: #E85C5C;
$greenAccent: #52E9B3;
$messageSize: 10vh;
$maxHeight: 100%;


$breakSizeSmallDevice: 760px;
$breakSizeSmallDeviceUp: 761px;
$main-background: #ffffff;
$text-color: #3D3D3D;
$search-top-border: #DEDEDE;
$text-color-secondary: #333;
$text-color-primary: #FF3333;
$text-border-primary: #b4c6ea;
$text-percent-color: $text-color-primary;
$purple-color: #EC483F;
$font-family: 'Nunito', sans-serif;
$font-family-roboto: 'Nunito', sans-serif; /*'Roboto', sans-serif;*/
$white: #FFF;
$whitesecondart: #E7E7E7;
$black: #000;
$almostblack: #333;
$greyBase: #CCCCCC;
$greySecondary: #DFDFDF;
$greyTertiary: #C4C4C4;
$lightGrey: $pink-color;
$radarBorder: #79A4E1;
$countDownColor: #FF2245;
$breathBorder: $text-color-primary;
$programPrimaryColor: #515570;
$programSecondaryColor: $text-color-primary;
$starBorder: #FFDC62;
$starGoldBorder: #FFFFDA;
$starGoldBck: #FFDC62;
$starBronzeBorder: #F5F5DC;
$starBronzeBck: #DEA46E;
$starSilverBorder: #F5F5F5;
$starSilverBck: #C8C8C8;
$warning: #FF6207;
$error: #DD2C00;
$messageSize: 10vh;
$maxHeight: 100%;

$exercisesRegistration: #3CE7B3;
$exercisesAudio: #55ACDC;
$exercisesVideo: #9B7CEC;
$exercisesQuestinairre: #EB7CE7;
$exercisesContent: #ED3F93;
$exercisesChallenge: $programSecondaryColor;

@mixin resetAll {
  all: initial;
  @include fontFamilyBase();
  * {
	all: unset;
	@include fontFamilyBase();
  }
}

@mixin programIconHolder($width,$height) {
  .icon_holder {
	position: relative;
	background-size: 100px;
	background-repeat: no-repeat;

	filter: invert(1);
	width: $width;
	height: $height;
	margin: 0px auto;

	&.program_type {
	  background: url("~/assets/icons/ico_program.svg") center bottom;
	  background-size: contain;
	}
  }
}


@mixin resetAll {
  all: initial;
  @include fontFamilyBase();
  * {
	all: unset;
	@include fontFamilyBase();
  }
}

@mixin programIconHolder($width,$height) {
  .icon_holder {
	position: relative;
	background-size: 100px;
	background-repeat: no-repeat;

	filter: invert(1);
	width: $width;
	height: $height;
	margin: 0px auto;

	&.program_type {
	  background: url("~/assets/icons/ico_program.svg") center bottom;
	  background-size: contain;
	}
  }
}

@mixin onboardingHomeGradient {
  /*background: linear-gradient(11.74deg, #6B76D8 38.19%, #8B89FF 88.79%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin surveyActiveOption {
  background: linear-gradient(88.5deg, #FF1B74 4.83%, #FF731C 178.09%);
}

@mixin completitionFinishGradient {
  /*background: linear-gradient(200.63deg, #AD7CEB 0%, #8B5BFF 66.45%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin completitionFinishGradientAlt {
  /*background: var(--Viola-sfumato, linear-gradient(201deg, #AD7CEB 0%, #8B5BFF 66.45%));*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin tutorialBtnBackground {
  /*background: var(--viola-sfumato, linear-gradient(242deg, #AD7CEB 0%, #8B5BFF 100%));*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin footerGradient {
  background: #FF1B74;
  background: -moz-linear-gradient(0deg, #FF1B74 20%, rgba(255, 255, 255, 0) 80%);
  background: -webkit-linear-gradient(0deg, #FF1B74 20%, rgba(255, 255, 255, 0) 80%);
  background: linear-gradient(0deg, #FF1B74 20%, rgba(255, 255, 255, 0) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF1B74", endColorstr="#ffffff", GradientType=1);
}

@mixin dialogGradient {
  /*background: linear-gradient(90deg, #848CE6 0%, #9E52E9 100%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin skeletonLoaderMixin($deg) {
  background: linear-gradient(#{$deg}deg, #D9D9D9, #FFFFFF, #D9D9D9, #FFFFFF);
}

@mixin homeGradientPrimary {
  /*background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin exerciseCardGradient {
  background: linear-gradient(90deg, #FFFFFF 35.94%, #D3C7F4 100%);
}

@mixin buttonGradientNext {
  @include homeGradientPrimary();
}

@mixin buttonGradientNextPump {
  /*background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin buttonGradientAsthma {
  background: linear-gradient(90deg, #5FB8EA 33.3%, #A8FFA0 89.11%);
}

@mixin sineRadarGradient {
  background: conic-gradient(from 180deg at 50% 50%, #FF0362 0deg, #79A4E1 360deg);
}

@mixin breathCircleGradient {
  /*background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);*/
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin breathCircleGradientOpacity {
  /*background: linear-gradient(31.92deg, #848CE666 33.3%, #79A4E166 89.11%);*/
  background: linear-gradient(44deg, #FF1B7466 0.91%, #FF454A66 48.39%, #FF731C66 100%);
}

@mixin fontFamilyBase {
  font-family: $font-family !important;
}

@mixin fontFamilyBaseForce {
  font-family: $font-family !important;
}

@mixin bottomNormal {
  color: #333;
  span {
	color: #333;
  }
  img {
	fill: #333;
  }
}

@mixin bottomActive {
  color: $text-color-primary;
  span {
	color: $text-color-primary;
  }
  svg * {
	color: $text-color-primary;
  }
}

@mixin fixedHeaderParallax {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  div.header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -99;
  }
  div.body {
	position: relative;
	height: max-content;
	z-index: 100;
	min-height: 100%;
  }
}

@mixin entriesShadow {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

@mixin btnShadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@mixin scoreShadow {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

@mixin noShadow {
  box-shadow: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fadeslow-enter-active,
.fadeslow-leave-active {
  transition: opacity 500ms ease;
}

.exittop-enter-active,
.exittop-leave-active {
  transition: opacity 300ms ease, transform 300ms ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.exittop-enter-from {
  transform: translateY(25%);
  opacity: 0;
}

.exittop-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.fadequick-enter-active,
.fadequick-leave-active {
  transition: opacity 0.2s ease;
}

.fadequick-enter-from,
.fadequick-leave-to {
  opacity: 0;
}

.fadedelay-enter-from,
.fadedelay-leave-to {
  opacity: 0;
}

.fadedelay-enter-active,
.fadedelay-leave-active {
  transition: opacity 0.3s ease;
}

.fadedelay-enter-active {
  .inner {
	transition-delay: 1s;
  }
}


.fadebottom-enter-active,
.fadebottom-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadebottom-leave-to,
.fadebottom-enter-from {
  opacity: 0;
  transform: translateY(-200%);
}


.fadetop-enter-active,
.fadetop-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadetop-leave-to,
.fadetop-enter-from {
  transform: translateY(+200%);
  opacity: 0;
}

.v-application {
  .primary--text {
	color: $text-color-primary !important;
	caret-color: $text-color-primary !important;
  }

  .secondary--text {
	color: $text-color-secondary !important;
	caret-color: $text-color-secondary !important;
  }

  .white--text {
	color: #FFF !important;
	caret-color: #FFF !important;
  }
}

.success--text {

  color: #50FBC7 !important;
  caret-color: #50FBC7 !important;
}


@mixin defaultTabPage() {
  .v-slide-group__prev, .v-slide-group__next {
	display: none !important;
	width: 0px;
	overflow: hidden;
  }

  &.tabs {
	.v-slide-group__wrapper {
	  position: relative;

	  &:before {
		position: absolute;
		content: ' ';
		bottom: 2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: rgba(0, 0, 0, 0.1);
	  }
	}

	.v-tab {
	  position: relative;
	  @include fontFamilyBase();
	  text-transform: none;
	  font-style: normal;
	  font-weight: 700;
	  font-size: 18px;
	  line-height: 100%;
	  letter-spacing: normal;

	  &:before {
		top: unset;
		left: 16px;
		right: 16px;
		bottom: 0px;
		height: 5px;
		background-color: $text-color-primary;
		opacity: 0;
		z-index: 5;
	  }

	  &.v-tab--active:before {
		opacity: 1;
	  }
	}
  }

  .v-tabs-items {
	padding: 0px 14px 2em;
	width: 100vw;

	.showmore-btn {
	  font-style: normal;
	  font-weight: 700;
	  font-size: 16px;
	  line-height: 14px;
	  /* or 88% */
	  color: $text-color-primary;

	  .v-icon {
		opacity: .5;
	  }
	}
  }

  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
	color: #A8AAB8;
  }
}

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
	transition: 0.8s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
  }

  &-move {
	transition: transform .8s;
  }
}

.slide-x-reverse-transition-slow {
  @include transition-default();

  &-enter, &-leave-to {
	opacity: 0;
	transform: translateX(15px);
  }
}

@mixin otpInput {
  .v-otp-input {
	margin: 0px 0px 20px;
	flex-wrap: nowrap;

  }

  .v-otp-input .v-input.v-text-field {
	flex-basis: 1.2em;
	margin-bottom: 0px;

	.v-input__slot {
	  min-width: 55px;
	  max-width: 55px;
	  min-height: 55px;
	  background-color: #E9EAF7;
	}

	fieldset {
	  border-color: $text-color-primary !important;
	}
  }
}

@mixin dynamicTextsBasis() {
  @include fontFamilyBase();
  font-size: 16px;
  b, strong {
	font-weight: bold;
  }
  ol, ul {
	margin-bottom: 1em;
  }
  li, {
	margin-bottom: .3em;
	margin-left: .5em;
  }
  p {
	margin-top: 0px;
	margin-bottom: 1em;
  }
}

@keyframes opacityPulse {
  from {
	background-color: #FFF;
  }

  to {
	background-color: $greyBase;
  }
}

@keyframes pumpBtn {
  0% {
	opacity: .5;
	@include buttonGradientNext;
  }
  40% {
	opacity: 1;
	@include buttonGradientNextPump;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
  80% {
	opacity: .5;
	@include buttonGradientNext;
  }
}


@mixin gradientVariant_1() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #52E9CD 100.38%);
  //background: linear-gradient(200.63deg, #AD7CEB 0%, #8B5BFF 66.45%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin gradientVariant_2() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  //background: linear-gradient(90deg, #848CE6 0%, #9E52E9 100%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin gradientVariant_3() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  //background: linear-gradient(209deg, #5574E1 3.71%, #9D57D3 96.98%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin skeletonLoaderMixin($deg) {
  background: linear-gradient(#{$deg}deg, #D9D9D9, #FFFFFF, #D9D9D9, #FFFFFF);
}

@mixin homeGradientPrimary {
  //background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin exerciseCardGradient {
  background: linear-gradient(90deg, #FFFFFF 35.94%, #D3C7F4 100%);
}

@mixin buttonGradientNext {
  @include homeGradientPrimary();
}

@mixin buttonGradientNextPump {
  //background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin buttonGradientAsthma {
  background: linear-gradient(90deg, #5FB8EA 33.3%, #A8FFA0 89.11%);
}

@mixin sineRadarGradient {
  background: conic-gradient(from 180deg at 50% 50%, #FF0362 0deg, #79A4E1 360deg);
}

@mixin breathCircleGradient {
  //background: linear-gradient(31.92deg, #848CE6 33.3%, #79A4E1 89.11%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin breathCircleGradientOpacity {
  //background: linear-gradient(31.92deg, #848CE666 33.3%, #79A4E166 89.11%);
  background: linear-gradient(44deg, #FF1B7466 0.91%, #FF454A66 48.39%, #FF731C66 100%);
}

@mixin fontFamilyBase {
  font-family: $font-family !important;
}

@mixin fontFamilyBaseForce {
  font-family: $font-family !important;
}

@mixin bottomNormal {
  color: #333;
  span {
	color: #333;
  }
  img {
	fill: #333;
  }
}

@mixin bottomActive {
  color: $text-color-primary;
  span {
	color: $text-color-primary;
  }
  svg * {
	color: $text-color-primary;
  }
}

@mixin fixedHeaderParallax {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  div.header {
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -99;
  }
  div.body {
	position: relative;
	height: max-content;
	z-index: 100;
	min-height: 100%;
  }
}

@mixin entriesShadow {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

@mixin btnShadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@mixin scoreShadow {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

@mixin noShadow {
  box-shadow: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fadeslow-enter-active,
.fadeslow-leave-active {
  transition: opacity 500ms ease;
}

.exittop-enter-active,
.exittop-leave-active {
  transition: opacity 300ms ease, transform 300ms ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.exittop-enter-from {
  transform: translateY(25%);
  opacity: 0;
}

.exittop-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.fadequick-enter-active,
.fadequick-leave-active {
  transition: opacity 0.2s ease;
}

.fadequick-enter-from,
.fadequick-leave-to {
  opacity: 0;
}

.fadedelay-enter-from,
.fadedelay-leave-to {
  opacity: 0;
}

.fadedelay-enter-active,
.fadedelay-leave-active {
  transition: opacity 0.3s ease;
}

.fadedelay-enter-active {
  .inner {
	transition-delay: 1s;
  }
}


.fadebottom-enter-active,
.fadebottom-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadebottom-leave-to,
.fadebottom-enter-from {
  opacity: 0;
  transform: translateY(-200%);
}


.fadetop-enter-active,
.fadetop-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadetop-leave-to,
.fadetop-enter-from {
  transform: translateY(+200%);
  opacity: 0;
}

.v-application {
  .primary--text {
	color: $text-color-primary !important;
	caret-color: $text-color-primary !important;
  }

  .secondary--text {
	color: $text-color-secondary !important;
	caret-color: $text-color-secondary !important;
  }

  .white--text {
	color: #FFF !important;
	caret-color: #FFF !important;
  }
}

.success--text {

  color: #50FBC7 !important;
  caret-color: #50FBC7 !important;
}


@mixin defaultTabPage() {
  .v-slide-group__prev, .v-slide-group__next {
	display: none !important;
	width: 0px;
	overflow: hidden;
  }

  &.tabs {
	.v-slide-group__wrapper {
	  position: relative;

	  &:before {
		position: absolute;
		content: ' ';
		bottom: 2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: rgba(0, 0, 0, 0.1);
	  }
	}

	.v-tab {
	  position: relative;
	  @include fontFamilyBase();
	  text-transform: none;
	  font-style: normal;
	  font-weight: 700;
	  font-size: 18px;
	  line-height: 100%;
	  letter-spacing: normal;

	  &:before {
		top: unset;
		left: 16px;
		right: 16px;
		bottom: 0px;
		height: 5px;
		background-color: $text-color-primary;
		opacity: 0;
		z-index: 5;
	  }

	  &.v-tab--active:before {
		opacity: 1;
	  }
	}
  }

  .v-tabs-items {
	padding: 0px 14px 2em;
	width: 100vw;

	.showmore-btn {
	  font-style: normal;
	  font-weight: 700;
	  font-size: 16px;
	  line-height: 14px;
	  /* or 88% */
	  color: $text-color-primary;

	  .v-icon {
		opacity: .5;
	  }
	}
  }

  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
	color: #A8AAB8;
  }
}

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
	transition: 0.8s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
  }

  &-move {
	transition: transform .8s;
  }
}

.slide-x-reverse-transition-slow {
  @include transition-default();

  &-enter, &-leave-to {
	opacity: 0;
	transform: translateX(15px);
  }
}

@mixin otpInput {
  .v-otp-input {
	margin: 0px 0px 20px;
	flex-wrap: nowrap;

  }

  .v-otp-input .v-input.v-text-field {
	flex-basis: 1.2em;
	margin-bottom: 0px;

	.v-input__slot {
	  min-width: 55px;
	  max-width: 55px;
	  min-height: 55px;
	  background-color: #E9EAF7;
	}

	fieldset {
	  border-color: $text-color-primary !important;
	}
  }
}

@mixin dynamicTextsBasis() {
  @include fontFamilyBase();
  font-size: 16px;
  b, strong {
	font-weight: bold;
  }
  ol, ul {
	margin-bottom: 1em;
  }
  li, {
	margin-bottom: .3em;
	margin-left: .5em;
  }
  p {
	margin-top: 0px;
	margin-bottom: 1em;
  }
}

@keyframes opacityPulse {
  from {
	background-color: #FFF;
  }

  to {
	background-color: $greyBase;
  }
}

@keyframes pumpBtn {
  0% {
	opacity: .5;
	@include buttonGradientNext;
  }
  40% {
	opacity: 1;
	@include buttonGradientNextPump;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  }
  80% {
	opacity: .5;
	@include buttonGradientNext;
  }
}


@mixin gradientVariant_1() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #52E9CD 100.38%);
  //background: linear-gradient(200.63deg, #AD7CEB 0%, #8B5BFF 66.45%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin gradientVariant_2() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  //background: linear-gradient(90deg, #848CE6 0%, #9E52E9 100%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}

@mixin gradientVariant_3() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  //background: linear-gradient(209deg, #5574E1 3.71%, #9D57D3 96.98%);
  background: linear-gradient(44deg, #FF1B74 0.91%, #FF454A 48.39%, #FF731C 100%);
}


.hidden {
  display: none;
}
