// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$breakSizeSmallDevice: 760px;
$breakSizeSmallDeviceUp: 761px;
$main-background: #ffffff;
$text-color: #3D3D3D;
$text-color-secondary: #515570;
$text-color-primary: #848CE6;
$text-percent-color: #626DEB;
$font-family: 'Nunito', sans-serif;
$font-family-roboto: 'Nunito', sans-serif;/*'Roboto', sans-serif;*/
$white: #FFF;
$black: #000;
$almostblack: #333;
$greyBase: #CCCCCC;
$radarBorder: #79A4E1;
$countDownColor: #FF2245;
$breathBorder: $text-color-primary;
$programPrimaryColor : #666EC8;
$programSecondaryColor : #C460E7;
$warning: #FF6207;
$error: #DD2C00;
$messageSize: 10vh;
$maxHeight: 100%;

$exercisesRegistration: #3CE7B3;
$exercisesAudio: #55ACDC;
$exercisesVideo: #9B7CEC;
$exercisesQuestinairre: #EB7CE7;
$exercisesQuiz: #EB7CE7;
$exercisesContent: #ED3F93;
$exercisesChallenge: $programSecondaryColor;

@mixin fontFamilyBase {
  font-family: $font-family !important;
}

@mixin fontFamilyBaseForce {
  font-family: $font-family !important;
}


@mixin resetAll {
  all:initial;
  @include fontFamilyBase();
  * {
    all: unset;
    @include fontFamilyBase();
  }
}


@mixin dynamicTextsBasis() {
  @include fontFamilyBase();
  font-size: 16px;
  b,strong {
    font-weight: bold;
  }
  ol,ul {
    margin-bottom: 1em;
  }
  li, {
    margin-bottom: .5em;
    margin-left: .5em;
  }
  p {
    margin-top:0px;
    margin-bottom: 1em;
  }
}

@mixin gradientVariant_1() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #52E9CD 100.38%);
  background: linear-gradient(200.63deg, #AD7CEB 0%, #8B5BFF 66.45%);
}
@mixin gradientVariant_2() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  background: linear-gradient(90deg, #848CE6 0%, #9E52E9 100%);
}
@mixin gradientVariant_3() {
  //background: linear-gradient(12.29deg, #848CE6 63.78%, #9D52E9 100.38%);
  background: linear-gradient(209deg, #5574E1 3.71%, #9D57D3 96.98%);
}

