.v-overlay--active {

}

.app_index .v-dialog__content.v-dialog__content--active,
.app_user-settings .v-dialog__content.v-dialog__content--active {
  z-index: 1001;
}

.versiondialog.customDialog {
  @include dialogGradient;
  .fullPageCard {
    margin: 0px;
    padding: 0px;
  }
  .fullPageCard > div.header {
    display: none;
  }
  div.footer {
    height: 160px;
    .pager {
      flex-wrap: wrap;
      margin-bottom: 16px;
      .v-btn {
        margin-top: 8px;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .fullPageCard > div.body {
    height: calc(100vh - 160px);
    background-size: auto;
    background-position: center bottom;
    .versionpage {
      height: calc(100vh - 160px);
      display: flex;
      align-items: center;
      justify-items: center;
      position: relative;
      width: 100%;
    }
    .logo {
      margin: 0px auto;
      padding-bottom: 140px;
      text-align: center;
      img {
        width: 23vw;
        height: auto;
        margin:0px auto;
      }
    }

    .content__block {

      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      .wrapper {
        background: $white;
        padding: 24px 32px 8px 32px;

      }
      &:after {
        display: block;
        position: absolute;
        width: 110px;
        height: 200px;
        background: url('~/assets/images/rocket.svg') no-repeat;
        background-position: center center;
        content: ' ';
        margin:0px auto;
        top:104px;
        z-index: -1;
        left: calc(50vw - 50px);

      }
      .clouds {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        vertical-align: bottom;
        z-index: 5;
      }
      h3 {
        @include fontFamilyBase();
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color:$text-color-secondary;
        text-align: center;
        padding: 0px;
        margin: 0px;
      }
      div {
        @include dynamicTextsBasis();
        color:$text-color-secondary;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        p {
          font-size: 14px;
        }
      }

    }
  }
}
