$cardHeight: 148px;
.fullPageCard.indexPage div.body .items_list .v-card,
.day_exercises.items_list .v-card {


  &.exercisecard.v2, &.program.v2 {
    height: $cardHeight;
    width: 67vw;
    padding: 0px;
    overflow: hidden;
    @include entriesShadow();

    .icon_holder {
      position: relative;
      background-size: 100px;
      background-repeat: no-repeat !important;

      filter: invert(1);
      width: calc(#{$cardHeight} * 0.65);
      height: calc(#{$cardHeight} * 0.65);
      margin: 0px auto;
      &.program_type {
        background: url("~/assets/icons/ico_program.svg") center center;
      }
      &.recording, &.hold {
        background: url("~/assets/icons/ico_recording.svg") center center;
      }
      &.audio {
        background: url("~/assets/icons/ico_audio.svg") center center;
      }
      &.video {
        background: url("~/assets/icons/ico_video.svg") center center;
      }
      &.questionnaire {
        background: url("~/assets/icons/ico_survey.svg") center center;
      }
      &.quiz {
        background: url("~/assets/icons/ico_survey.svg") center center;
      }
      &.content,&.post {
        background: url("~/assets/icons/ico_article.svg") center center;
      }
    }


    &.content .card__header, &.post .card__header {
      background-color: $exercisesContent;
    }

    .card__header {
      height: calc(#{$cardHeight} * 0.65);

      .duration, .type {
        @include fontFamilyBase();
        background-color: rgba(255, 255, 255, 0.7);
        color: $text-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 12px;
        padding: 4px 8px;
      }

      .v-image {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .row {
      height: calc(#{$cardHeight} * 0.35);
      background-color: $white;
      padding: 8px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      .v-card__title, .v-card__subtitle {
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include fontFamilyBase();
        color: $text-color;

        div, span {
          text-transform: capitalize !important;

          &:first-letter {
            text-transform: uppercase !important;
          }

          &.text-lowercase {
            text-transform: lowercase !important;
          }
        }
      }

      .v-card__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }

      .v-card__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        div {
          padding-top: 2px;
          display: flex;
          flex-flow: row;
          align-content: center;
          text-transform: lowercase;

          &:first-letter {
            text-transform: uppercase;
          }

          &.kind:before {
            display: inline-block;
            height: 14px;
            width: 14px;
            background-color: $black;
            content: ' ';
            border-radius: 2px;
            margin-right: 4px;
          }

          &.kind.recording:before, &.kind.hold:before {
            background-color: $exercisesRegistration;
          }

          &.kind.audio:before {
            background-color: $exercisesAudio;
          }

          &.kind.video:before {
            background-color: $exercisesVideo;
          }

          &.kind.questionnaire:before {
            background-color: $exercisesQuestinairre;
          }
          &.kind.quiz:before {
            background-color: $exercisesQuestinairre;
          }

          &.kind.content:before {
            background-color: $exercisesContent;
          }
          &.kind.post:before {
            background-color: $exercisesContent;
          }
        }

        &.program__intro {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
        }
      }

      .action {
        width: 10vw;
        min-width: 10vw;
        max-width: 60px;
        text-align: right;

        .v-btn {
          background: $text-color-primary;
          color: $white;
          height: 31px;
          width: 31px;
          padding: 0px;
          margin: 0px;

          &.joined {
            @include buttonGradientNext();
          }

          svg {
            width: 13px;
          }

          svg, svg * {
            color: $white;
          }
        }
      }

      .card-texts {
        width: calc(100% - 10vw);

      }
    }

    &.recording, &.hold {
      color:$exercisesRegistration;
      .card__header {
        background-color: $exercisesRegistration;
      }

      .row .action .v-btn {
        background-color: $exercisesRegistration;
      }
    }

    &.audio {
      color:$exercisesAudio;
      .card__header {
        background-color: $exercisesAudio;
      }

      .row .action .v-btn {
        background-color: $exercisesAudio;
      }
    }

    &.video {
      color:$exercisesVideo;
      .card__header {
        background-color: $exercisesVideo;
      }

      .row .action .v-btn {
        background-color: $exercisesVideo;
      }
    }
    &.content,&.post {
      color:$exercisesContent;
      .card__header {
        background-color: $exercisesContent;
      }

      .row .action .v-btn {
        background-color: $exercisesContent;
      }
    }

    &.questionnaire {
      color:$exercisesQuestinairre;
      .card__header {
        background-color: $exercisesQuestinairre;
      }
      .row .action .v-btn {
        background-color: $exercisesQuestinairre;
      }
    }
    &.quiz {
      color:$exercisesQuestinairre;
      .card__header {
        background-color: $exercisesQuestinairre;
      }
      .row .action .v-btn {
        background-color: $exercisesQuestinairre;
      }
    }

    /*Ipad*/
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
      width: 33vw;
    }
    /*iPad 3, 4 and Pro 9.7*/
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 2) {
      width: 33vw;
    }

    /* ----------- iPad Pro 10.5" ----------- */
    @media only screen
    and (min-device-width: 834px)
    and (max-device-width: 1112px)
    and (-webkit-min-device-pixel-ratio: 2) {
      width: 33vw;
    }
    /* ----------- iPad Pro 12.9" ----------- */
    @media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
      width: 33vw;
    }

  }

  &.program.v2 {
    .row {
      background-color: $programPrimaryColor;

      .v-card__title, .v-card__subtitle {
        color: $white;
      }
    }
  }

  &.exercisecard.v2 {
    &.disabled {
      opacity: 0.4;
    }

  }
}

.day_exercises.items_list {
  margin-top: 0px !important;
  padding-top: 16px !important;

  &.wrapped {
    margin: 0px -16px 0px -16px;
    padding-left: 16px;
    width: 100vw;
    min-height: $cardHeight;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    .wrapped_item {
      margin-right: 10px;
      padding-bottom: 1em;
      &.completed {
        .v-card.exercisecard.v2.disabled,.v-card.exercisecard.v2 {
          opacity: .6;
        }
        .mdi-play::before {
          content: "\F012C";
        }

      }
      &.available {
        .v-card.exercisecard.v2:after {
          position: absolute;
          z-index: 1;
          content:' ';
          top:0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          border:2px solid currentColor;
          border-radius: 4px;
          background: none;
          display: block;
        }
      }
    }


  }
}

.fullPageCard.indexPage div.body .items_list.wrapped .wrapped_item.v2 {
  height: calc(#{$cardHeight} + 20px);
  width: 67vw;
}

.v-card.program.v2 {
  .card__header {
    background-color: $programSecondaryColor;
  }

  .action.progress {
    .v-progress-circular__underlay {
      stroke: rgba(255, 255, 255, 0.9);
    }

    .v-progress-circular__overlay {
      stroke: $programSecondaryColor;
    }

    .v-progress-circular__info {
      font-weight: 400;
      font-size: 9.3712px;
      line-height: 13px;
      color: $white !important;
      @include fontFamilyBase();
    }
  }
}
