.mePage {
  &.ipfix {
    div.header {
      padding-top: 20px;
    }
  }
  .userwlecome {
    position: absolute;
    left: 18px;
    right: 18px;
    z-index: 10;
    .v-icon__component {
      height: 30px;
      width: 30px;
    }
    width: calc(100% - 36px) !important;
  }

  .welcome_image {
    align-items: center;
    margin-top: 6px;
    margin-top: 0px !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*margin-bottom: 76px !important;*/
    .v-image, .v-icon.replacement {
      width: calc(100vw / 3);
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid $white;
    }
    .v-image {
      margin-left: auto;
      margin-right: auto;
    }

    .v-btn.register {
      width: 100%;
      border-radius: 52px;
      background: $white;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
      height: fit-content;
      .v-btn__content {
        text-transform: none;
        color: $text-color-primary;
        text-align: center;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 133.333% */
        padding: 11.861px 0px 12.139px 0px;

      }
    }
  }

  .image_container {
    position: relative;
    text-align: center;
    padding-top: 26%;
    align-items: center;
    margin-top: 6px;
    width: 30vw;
    margin-left: -6px;

    .v-icon.replacement, .v-image {
      background-color: $white;
      width: 30vw;
    }

    div.userpicker {
      position: absolute;
      width: 36px;
      height: 36px;
      background-color: $white;
      border-radius: 50%;
      @include btnShadow();
      z-index: 5;
      bottom: 5%;
      right: -5%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      color: $text-color-primary;

      svg {
        fill: $text-color-primary;
      }

      .v-icon__component {
        height: 20px;
        width: 20px;
      }
    }
  }

  .user__info {
    left: 0px;
    right: 0px;
    text-align: center;
    margin-left: -6px;
    &.unregistered {

    }

    span {
      border-radius: 42px;
      color: $white !important;
      text-align: center;
      background-color: $text-color-secondary;
      padding: 4px 10px;
      font-size: 19.053px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 92.9%; /* 17.701px */
    }

    .submessage {
      padding-top: 12px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      text-align: center;

      b {
        font-weight: 700;
      }
    }
  }

  &.indexPage div.home_container:not(.currentsheet-2) {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background-color: $lightGrey !important;
  }

  &.indexPage div.header .welcome_image {
    .circles {
      position: absolute;
      z-index: -1;
      width: 70%;
      height: 100%;
      top:0px;
      left: 5%;
      opacity: 1;
      .circle {
        position: absolute;
        top:0px;
        left: 0px;
        margin:0px auto;
        background-color: $white;
        border-radius: 50%;
        opacity: 1;
        &.one {
          width: 60vw;
          height: 60vw;
          left: 10vw;
          top: 10vw;
          background-color: rgba(255,255,255,.2);
          z-index: 1;
        }
        &.two {
          left: 15vw;
          top: 15vw;
          width: 50vw;
          height: 50vw;
          background-color: rgba(255,255,255,.2);
          z-index: 2;
        }
        &.three {
          left: 20vw;
          top: 20vw;
          width: 40vw;
          height: 40vw;
          background-color: rgba(255,255,255,.2);
          z-index: 3;
        }
      }
    }
  }

  .me_container {
    @include defaultTabPage();
    .v-tabs-items {
      padding: 0px !important;
    }
    .v-slide-group__wrapper {
      background: $white;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
    }
  }
  .stat_container,.track_container {
    min-height: 100%;
    background-color: $lightGrey;
    min-width: 100vw;
  }
  .hist_container {
    min-width: 100vw;
    padding: 16px;
    .v-toolbar__content {
      justify-content: space-between;
    }
    .v-calendar-monthly {
      border-width: 0px !important;
      margin-bottom: 16px;
      margin-top: 16px;
      * {
        border-width: 0px !important;
      }
      .v-calendar-weekly__head-weekday {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        font-style: normal;
        background: transparent !important;
        color:$almostblack;
      }
      .v-calendar-weekly__day {
        background-color: transparent;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color:$almostblack;
        .v-btn {
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          border-radius: 7px;
          &:before {
            display: none;
          }
        }
        .v-btn__content {
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color:$almostblack;
        }
        &.v-present {
          .v-btn, .v-btn.primary {
            border:1px solid $text-color-primary;
          }
          .v-btn.primary.active {
            font-weight: 700;
            border:1px solid $text-color-primary;
            border-width: 1px !important;
            background: $calendarDayActiveBckColor !important;
            .v-btn__content { color: $white; font-weight: 700;}
          }
          .v-btn__content { }

        }

        &.v-outside {
          background-color: transparent;
          color: $calendarDayDisabledColor;
          .v-btn__content {
            /*color: $calendarDayDisabledColor;*/
          }
        }

        &.v-present {

          .v-btn, .v-btn.primary {
            font-weight: normal;
            border:1px solid $text-color-primary;
            border-width: 1px !important;
            background: transparent !important;
          }
          .v-btn__content { }

        }
        .v-btn.active {
          font-weight: 700;
          border:1px solid $text-color-primary;
          border-width: 1px !important;
          background: $calendarDayActiveBckColor !important;
          .v-btn__content { color: $white; font-weight: 700;}

        }

      }
      span.disabled-day {
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        color: $calendarDayDisabledColor;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    .historyContainer {
      padding: 10px 20px;
      margin-bottom: 15vh;
      &:before {
        content: ' ';
        display: block;
        box-shadow: 0px -14px 19px -16px rgba(0, 0, 0, 0.25);
        border-radius: 16px 16px 0px 0px;
        width: 100%;
        height: 50px;
        position: absolute;
        z-index: 0;
        left: 8px;
        right: 8px;
      }
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-top:20px;
        margin-bottom:20px;
      }
      .history_item {
        border-bottom: 1px solid rgba(81, 85, 112, 0.2);
        padding:8px 0px;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        div.when {
          flex-basis: 33%;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: rgba(51, 51, 51, 0.7);
          margin-top: 2px;

        }
        div.what {
          flex-grow: 1;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: $text-color-secondary;
          position: relative;
          &:before {
            content: ' ';
            position: absolute;
            left:-22px;
            top:4px;
            height: 12px;
            width: 12px;
            background-color: $black;
            border-radius: 6px;
          }
          &.type-recording:before, &.type-hold:before {
            background-color: $exercisesRegistration;
          }

          &.type-audio:before {
            background-color: $exercisesAudio;
          }

          &.type-video:before {
            background-color: $exercisesVideo;
          }

          &.type-questionnaire:before {
            background-color: $exercisesQuestinairre;
          }
          &.type-quiz:before {
            background-color: $exercisesQuestinairre;
          }

          &.type-post:before,
          &.type-content:before {
            background-color: $exercisesContent;
          }
          span {
            margin-top: 3px;
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: rgba(51, 51, 51, 0.7);

          }

        }
      }

    }
  }
  .stat_container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    box-shadow: 0px -1px 19px rgba(0, 0, 0, 0.25);
    padding: 13px 13px;

    .kpi_item {
      flex: 0 0 calc(33% - 26px);
      margin: 13px 13px;
      padding: 12px;
      padding-top: 0px;
      overflow: hidden;
      background: $white;
      border: 1px solid rgba(81, 85, 112, 0.2);
      border-radius: 16px;
      color: $text-color-secondary;
      text-align: center;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      .value {
        font-weight: 800;
        font-size: 23px;
        line-height: 100%;
      }
      .unit {
        font-size: 17px;
      }
      .v-icon {
        width: 17px;
        height: 17px;
        margin: 12px auto;
      }
      small {
        margin-top: 6px;
        font-weight: 700;
        font-size: 10px;
        line-height: 110%;
      }
    }
  }

  .track_container {
    padding: 16px;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 16px;
    }
    .v-input {
      border-radius: 6px;
      font-weight: 300;
      font-size: 14px;
      line-height: 110.9%;
      .v-input__slot {
        font-weight: 300;
        font-size: 14px;
        line-height: 110.9%;
        background: $white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) !important;
        &:before {
          border-color: $white;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
          border-radius: 6px;
        }
      }
    }

    .chartArea {
      background: $white;
      margin: 16px 0px 8px 0px;
      padding: 8px;
      text-align: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 110%;
      color: rgba(81, 85, 112, 0.7);
      padding-bottom: 10px;
      min-height: 200px;
      em {
        display: block;
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
  .hist_container {
    .v-toolbar__title {
      text-transform: capitalize;
    }
    .v-event-more {
      display: none;
    }
    .v-calendar .v-event {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 5px;
      background-color: $text-color-primary !important;
      height: 4px !important;
      width: 9px !important;
      margin:0px auto 1px auto !important;
      border-radius: 33px;
      overflow: hidden;
      .v-event-summary {
        display: none;
      }
    }
  }

  .nodataCalendar {
    color: var(--testi-secondari, $text-color-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .calbtn {
    margin:0px !important;
    padding: 0px !important;
    &:before {
      display: none !important;
    }
    .v-btn__content {
      color: $text-color-secondary;
    }
    &:hover, &:active {
      color: $text-color-secondary;
    }
    &.next {
      .v-btn__content {
        align-items: center;
        justify-content: flex-end;
      }
    }
    &.prev {
      .v-btn__content {
        align-items: center;
        justify-content: flex-start;
      }
    }
    &.v-btn--disabled {
      opacity: .2;
    }
  }
}

body .v-application.voicemed-app {
  .mePage {
    .v-btn.v-btn--icon.user-settings {
      color:$almostblack;
      .v-icon, .v-icon span {
        color:$almostblack;
      }
    }
  }
}
