.mainApp .fullPageCard.quizExercise,
.mainApp .fullPageCard.surveyExercise {
  background-color: $quizExerciseBck;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  transition: background-color linear 300ms;

  div.header {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 16px;
    right: 16px;
    height: 22px;
    max-height: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    @include fontFamilyBase();
    color: $text-color-primary;
    /*background-color: $quizExerciseBck;*/

    display: flex;
    margin: 0px;
    padding: 0px;
    flex-flow: row;
    justify-items: right;
    align-items: end;
    flex-wrap: wrap;

    .percent, .v-progress-linear {
      width: 100%;
    }

    .percent {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-align: right;
      /* or 17px */
    }
  }

  div.footer {
    background: $white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px 22px 0px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 15vh;
    z-index: 2;
  }

  div.body {
    margin-top: 30px;
    padding-bottom: 18vh;
    align-items: start;
    overflow: scroll;

    .theme--light.v-tabs-items {
      background-color: transparent;
    }

    .survey__exercise__container {
      width: 100%;
    }

    .survey_card {
      width: 100%;
      .titles {
        margin: 50px 0px;
      }
      .titles_alone {
        margin-bottom: 50px;
      }
      .subtitles_alone {

      }

      h2, h3 {
        text-align: center;
        @include fontFamilyBase();
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }
      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
      }


      &.screen {
        .withdynamicTexts {
          text-align: left;
          margin-top: 8px;
        }
        .v-image {
          width: 100%;
          margin: 0px 38px;
          .v-image__image {
            left:38px;
            width: calc(100% - (38px + 38px));

          }
        }
      }


      .survey_options {
        .v-input--radio-group {
          width: 100%;
        }

        .v-radio {
          flex-flow: column;
          width: 100%;
          text-align: center;
          background: $white;
          border: 1px solid rgba(57, 60, 84, 0.5);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          padding: 22px 0px;
          @include fontFamilyBase();
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: $text-color;

          .v-label {
            color: $text-color !important;
            font-size: 20px;
            div {font-size: 20px;}
          }

          .v-input--selection-controls__input {
            display: none;
          }

          &.v-item--active {
            @include surveyActiveOption();
            border: 1px solid $text-color-secondary;
            box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04);
            color: $white;

            .v-label {
              color: $white !important;
            }
          }
        }

        .v-textarea, .v-text-field {
          .v-input__slot {
            background-color: $white;
          }
        }
      }
    }
  }

  &.cardtype_screen,&.finishcard {
    @include completitionFinishGradient();
    div.body {
      align-items: center;
      justify-content: center;

      h2, h3 {
        color: $white;
      }

      .survey_card {
        color: $white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .subtitles_alone {
          margin-top: 24px;
          width: 100%;
          padding:0px 38px;
          text-align: left;
          h2, h3 {text-align: left;}
        }

        .withdynamicTexts {
          text-align: left;
          @include fontFamilyBase();
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          width: 100%;
          padding:0px 38px;
        }
        &.screen {
          margin-top:60px;
          margin-bottom:10px;
        }

        .v-image__image--cover {
          background-size: contain;
        }
      }
    }

    div.footer {
      @include footerGradient;

      a.nextvm, button.nextvm,
      .v-btn.nextvm, .v-btn.leavevm, .v-btn.leavevm--text, .v-btn.backvm, .v-btn.backvm--text {
        background: $white;
        background-color: $white;
        color: $purple-color;

        .v-btn__content, .v-btn__content span {
          color: $purple-color;
        }
      }
    }

    div.header {
      background-color: transparent;

      .percent,.v-progress-linear {
        opacity: 0;
      }

      .v-progress-linear__background.primary {
        background-color: $white !important;
        border-color: $white !important;
      }

      .v-progress-linear__determinate.primary {
        background-color: $white !important;
        border-color: $white !important;
      }
    }
  }
  &.cardtype_screen {
    div.body {
      align-items: flex-start;
    }
  }
  &.resultcard {
    div.body {
      padding-top:0px !important;
      margin-top:0px;
      .survey_card.screen {
        margin-top:0px;
      }
    }
  }
  div.survey_card.screen {
    margin-top:10px;
  }
  &.onboarding {
    background-color: $white;

    div.body {
      .survey_options {
        .v-radio {
          background: linear-gradient(92.19deg, rgba(255, 255, 255, 0.4) 4.62%, rgba(255, 255, 255, 0.1) 72.22%);
          border: 1px solid rgba(57, 60, 84, 0.5);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          @include fontFamilyBase();
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          color: $text-color;

          &.v-item--active {
            @include completitionFinishGradient();
            border: 1px solid $text-color-secondary;
            box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04);
            color: $white;

            .v-label {
              color: $white !important;
            }
          }
        }

      }

      .survey_card.screen {
          margin-top:90px;
      }
    }

    div.footer {
      box-shadow: none;
    }
    .welcome_image {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      .circles {
        position: absolute;
        z-index: 0;
        width: 90%;
        height: 100%;
        top:0px;
        left: 5%;
        opacity: 1;
        .circle {
          position: absolute;
          top:0px;
          left: 0px;
          margin:0px auto;
          background-color: $white;
          border-radius: 50%;
          opacity: 0;
          &.one {
            width: 80vw;
            height: 80vw;
            left: 0vw;
            top: 0vw;
            background-color: rgba(255,255,255,.2);
            z-index: 1;
          }
          &.two {
            left: 10vw;
            top: 10vw;
            width: 60vw;
            height: 60vw;
            background-color: rgba(255,255,255,.2);
            z-index: 2;
          }
          &.three {
            left: 20vw;
            top: 20vw;
            width: 40vw;
            height: 40vw;
            background-color: rgba(255,255,255,.2);
            z-index: 3;
          }
        }
      }

      .image {
        max-width: 70vw;
        margin: 0px auto;
      }

      /*Ipad*/
      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (-webkit-min-device-pixel-ratio: 1) {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        .circles {
          width: calc( 50vw * 0.9);
          position: absolute;
          top:calc( 50vw * 0.05);
          left:calc( 50vw * 0.05);
          .circle {
            &.one {
              width: calc( 50vw * 0.8);
              height: calc( 50vw * 0.8);
              top:calc( 50vw * 0.1 / 2);
              left:calc( 50vw * 0.1 / 2) ;
              background-color: rgba(255,255,255,.2);
              z-index: 1;
            }
            &.two {
              width: calc( 50vw * 0.6);
              height: calc( 50vw * 0.6);
              top:calc( 50vw * 0.3 / 2);
              left:calc( 50vw * 0.3 / 2);
              background-color: rgba(255,255,255,.2);
              z-index: 2;
            }
            &.three {
              top:calc( 50vw * 0.5 / 2);
              left:calc( 50vw * 0.5  / 2);
              width: calc( 50vw * 0.4);
              height: calc( 50vw * 0.4);
              background-color: rgba(255,255,255,.2);
              z-index: 3;
            }
          }
        }
      }
      /*iPad 3, 4 and Pro 9.7*/
      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (-webkit-min-device-pixel-ratio: 2) {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        .circles {
          width: calc( 50vw * 0.9);
          position: absolute;
          top:calc( 50vw * 0.05);
          left:calc( 50vw * 0.05);
          .circle {
            &.one {
              width: calc( 50vw * 0.8);
              height: calc( 50vw * 0.8);
              top:calc( 50vw * 0.1 / 2);
              left:calc( 50vw * 0.1 / 2) ;
              background-color: rgba(255,255,255,.2);
              z-index: 1;
            }
            &.two {
              width: calc( 50vw * 0.6);
              height: calc( 50vw * 0.6);
              top:calc( 50vw * 0.3 / 2);
              left:calc( 50vw * 0.3 / 2);
              background-color: rgba(255,255,255,.2);
              z-index: 2;
            }
            &.three {
              top:calc( 50vw * 0.5 / 2);
              left:calc( 50vw * 0.5  / 2);
              width: calc( 50vw * 0.4);
              height: calc( 50vw * 0.4);
              background-color: rgba(255,255,255,.2);
              z-index: 3;
            }
          }
        }
      }

      /* ----------- iPad Pro 10.5" ----------- */
      @media only screen
      and (min-device-width: 834px)
      and (max-device-width: 1112px)
      and (-webkit-min-device-pixel-ratio: 2) {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        .circles {
          width: calc( 50vw * 0.9);
          position: absolute;
          top:calc( 50vw * 0.05);
          left:calc( 50vw * 0.05);
          .circle {
            &.one {
              width: calc( 50vw * 0.8);
              height: calc( 50vw * 0.8);
              top:calc( 50vw * 0.1 / 2);
              left:calc( 50vw * 0.1 / 2) ;
              background-color: rgba(255,255,255,.2);
              z-index: 1;
            }
            &.two {
              width: calc( 50vw * 0.6);
              height: calc( 50vw * 0.6);
              top:calc( 50vw * 0.3 / 2);
              left:calc( 50vw * 0.3 / 2);
              background-color: rgba(255,255,255,.2);
              z-index: 2;
            }
            &.three {
              top:calc( 50vw * 0.5 / 2);
              left:calc( 50vw * 0.5  / 2);
              width: calc( 50vw * 0.4);
              height: calc( 50vw * 0.4);
              background-color: rgba(255,255,255,.2);
              z-index: 3;
            }
          }
        }
      }
      /* ----------- iPad Pro 12.9" ----------- */
      @media only screen
      and (min-device-width: 1024px)
      and (max-device-width: 1366px)
      and (-webkit-min-device-pixel-ratio: 2) {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        .circles {
          width: calc( 50vw * 0.9);
          position: absolute;
          top:calc( 50vw * 0.05);
          left:calc( 50vw * 0.05);
          .circle {
            &.one {
              width: calc( 50vw * 0.8);
              height: calc( 50vw * 0.8);
              top:calc( 50vw * 0.1 / 2);
              left:calc( 50vw * 0.1 / 2) ;
              background-color: rgba(255,255,255,.2);
              z-index: 1;
            }
            &.two {
              width: calc( 50vw * 0.6);
              height: calc( 50vw * 0.6);
              top:calc( 50vw * 0.3 / 2);
              left:calc( 50vw * 0.3 / 2);
              background-color: rgba(255,255,255,.2);
              z-index: 2;
            }
            &.three {
              top:calc( 50vw * 0.5 / 2);
              left:calc( 50vw * 0.5  / 2);
              width: calc( 50vw * 0.4);
              height: calc( 50vw * 0.4);
              background-color: rgba(255,255,255,.2);
              z-index: 3;
            }
          }
        }
      }

    }
  }

  div.survey_card.screen {
      margin-top:10px;
  }

  &.finishcard {
    @include completitionFinishGradient();

    div.header {
      background-color: transparent !important;
    }

    div.footer {
      box-shadow: none;
      background-color: transparent;

      .v-btn.backvm, .v-btn.backvm--text {
        background: transparent;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

        .v-btn__content, .v-btn__content span {
          color: $white;
        }
      }

      a.nextvm, button.nextvm,
      .v-btn.nextvm, .v-btn.leavevm, .v-btn.leavevm--text {
        background: $white;
        background-color: $white;
        color: $purple-color;

        .v-btn__content, .v-btn__content span {
          color: $purple-color;
        }
      }
    }

    div.body {
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      padding-bottom: 12vh !important;

      h2, h3 {
        color: $white;
      }

      .survery__challenges__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .request_challenges {
          text-align: center;
        }

        h3 {
          @include fontFamilyBase();
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 120%;
          text-align: center;
        }

        .v-image.intro {
          max-width: 70vw;
          height: auto;
          margin: 15px auto;
        }

        span.almost {
          @include fontFamilyBase();
          text-align: center;
          color: $white;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 14px;
        }

        .v-progress-linear {
          border-top-right-radius: 8px;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-bottom-right-radius: 8px;
          margin: 15px auto;

          .v-progress-linear__background.primary {
            background-color: $lightGrey !important;
            border-color: $lightGrey !important;
            opacity: 1 !important;
          }

          .v-progress-linear__determinate.primary {
            background-color: $programProgressBar !important;
            border-color: $programProgressBar !important;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            position: relative;

            &:before {
              content: ' ';
              position: absolute;
              background-color: $lightGrey !important;
              position: absolute;
              z-index: -1;
              top: 0px;
              bottom: 0px;
              left: 0px;
              right: 0px;
              display: block;
            }

          }
        }
      }

      .response_challenges {
        .subtitle {
          color: $white;
          @include fontFamilyBase();
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          margin-top: 8px;

        }

        .challenge-available {
          margin-top: 32px;
          margin-bottom: 32px;
          text-align: center;
          color: $white;
          @include fontFamilyBase();
          position: relative;

          .challenge-image {
            max-width: 55vw;
            height: auto;
            margin:0px auto;
          }

          .challenge-info {
            display: block;
            position: absolute;
            bottom: -20px;
            left: 0px;
            right: 0px;
            z-index: 2;
          }

          .challenge-title {
            @include fontFamilyBase();
            text-align: center;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 92.9%;
            text-align: center;
            color: $white;
            background-color: rgba(81, 85, 112,0.6);
            border-radius: 42px;
            text-transform: uppercase;
            width: max-content;
            padding: 6px 10px;
            margin: 0px auto;
          }

          .challenge-exercises {
            display: block;
            @include fontFamilyBase();
            text-transform: lowercase;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: $white;
          }
        }

        .hint {
          @include fontFamilyBase();
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: $white;
        }
      }
    }
  }
}
